<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device.width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
    <script src="https://unpkg.com/konva@9.3.3/konva.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Upload Image</title>
</head>
<body>
    <div class='containerr'>
        <div class='row'>
            <div class='col-6 mx-auto mt-5 text-center'>
                <h1  class = 'mb-5'>Edited Image</h1>                             
                <div class = 'mt-5'>
                    <select id = 'tool'>
                        <option value = "brush">Brush</option>
                        <option value = "eraser">Eraser</option>
                        <option value = "circle">Circle</option>
                        <option value = "rect">Rectangle</option>
                    </select>
                    <input type = "hidden" id = "fileUrl" value = "{{ fileUrl }}">
                    <input type = "hidden" id = "filename" value = "{{ filename }}">
                    <div id = 'formContainer'>
                        <form action = "" id = "saving" method = "post">
                            <div id = 'container'></div>
                            <br>
                            <button type = "button" onclick = "clearDrawing()">Clear Drawing</button>
                            <button type = "submit"  name = "submit">Submit</button>
                        </form>
                    </div>
                    <script type = "text/javascript" src = "/static/edit.js"></script>
                    <script>
                        var save_image = "{{  url_for('save_image')  }}";
                    </script>
                </div>                                
            </div>
        </div>
    </div>
</body>
</html>